
@import "_sass/dataTables.bootstrap.min";
@import "_sass/dataTables.fontAwesome";
@import "_sass/cyborg-variables";
@import "_sass/bootstrap";
@import "_sass/cyborg";

h1,.navbar-brand {
  font-family: 'Alegreya', serif;
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6{
  word-wrap: break-word;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.certificate-text {
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  -webkit-text-stroke: .25px #000;
  text-shadow: 0 3px #000;
  margin-top: -2px;
}

.certificate-text-lg {
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  -webkit-text-stroke: .25px #000;
  text-shadow: 0 3px #000;
  margin-top: -3px;
}

.member {
font-family: 'Alegreya', serif;
  font-size: 22px;
}

.trophies {
  font-size: 95%;
}

footer {
    margin: 5em 0;
    font-size: 14px;
    color: $gray-light;
}

footer a {
  color: $gray-light;
  text-decoration: none;
  border-bottom: 1px dotted $gray-light;
}

footer a:hover,
footer a:active {
  color: $gray-lighter;
  text-decoration: none;
  border-bottom: 1px solid $gray-lighter;
}
