{% extends "layout.html" %}
{% block sub_title '404 |  ' %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12 text-center" style="margin-top: 20%;">
      <h1>404</h1>
    <p class="lead">Sorry, aber diese Seite existiert nicht.</p>
    <a class="btn btn-info" href="/">Hier geht's zur Startseite <i class="fa fa-home"></i></a>
      </div>
    </div>
</div> 



{% endblock %}
