{% extends "layout.html" %}
{% block sub_title 'Clan War |  ' %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Clan War</h1>



    </div>

  </div> <!-- row -->

</div>


{% endblock %}
