{% extends "layout.html" %}
{% block sub_title 'Clanregeln | ' %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Clanregeln</h1>
      <p class="lead">
        Spaß steht bei uns an erster Stelle. Wir alle haben noch ein richtiges Leben, und das hat immer Priorität! Trotzdem haben wir ein paar Regeln, damit wir auch weiterhin Spaß in unserem Clan haben.<br>
        <strong>Verstoss gegen die Regeln wird mit Ermahnung, Degradierung oder Rauswurf bestraft! </strong> Dies wird im Einzelfall von der Clanführung entschieden.
      </p>
            <ul>
              <li>Mindestalter ist 20 Jahre, Ausnahmen bestätigen die Regel.</li>
              <li>Vernünftiger Umgang miteinander ist selbstverständlich. Beleidigungen führen zum direkten Rauswurf!<li>
              <li>Aktivität im Spiel, Chat und Clanwar ist erwünscht. Wer längere Zeit nicht aktiv ist, wird irgendwann entsorgt.</li>
              <li>Es wird nur gespendet, was auch gefordert wurde! Wer aus Versehen falsch spendet, entschuldigt sich bitte direkt danach.</li>
              <li>Das Spendenverhältnis sollte nicht schlechter als 1:3 sein.</li>
              <li>Ältester kann werden, wer über einen längeren Zeitraum viel spendet und sich aktiv und im Sinne des Clans beteiligt. Die Entscheidung über eine Beförderung wird von der Clanführung je nach Einzelfall entschieden.</li>
              <li>Konstruktive Kritik ist immer willkommen, aber Ton macht die Musik. Außerdem spielen hierbei auch Erfahrung und Rang eine Rolle. Unbegründetes rumnörgeln oder schlecht machen von Angriffen anderer, wird nicht toleriert.</li>
            </ul>



    </div>

  </div> <!-- row -->

</div>


{% endblock %}
