{% extends "layout.html" %}
{% block sub_title 'Clan War |  ' %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Clan War</h1>
      <p class="lead">
        Oberstes Ziel ist das Gewinnen von so vielen CWs wie möglich. Das kann nur als Einheit funktionieren, wir gewinnen zusammen und wir verlieren zusammen.<br>
        CWs kosten allen Teilnehmern viele Ressourcen, daher erwarten wir von jedem das er im Sinne des Clans agiert.<br>
        <strong>Verstoss gegen die Regeln wird mit CW-Sperre, Degradierung oder Rauswurf bestraft! </strong><br>
         Dies wird im Einzelfall von der CW-Führung oder der Clanführung entschieden.
      </p>
      <div class="row">
        <div class="col-md-6">
            <h4>Teilnahme</h4>
            <ul>
              <li>Wir befinden uns eigentlich immer im Clanwar. CWs werden immer Abends gegen 21 Uhr gestartet, so das Beginn und Ende des Angriffstages auf etwa 20 Uhr fallen.</li>
              <li>CW Teilnahme ist freiwillig, wer sich auf grün schaltet signalisiert seine Bereitschaft. Alle Helden und Zauberfabriken haben zum Beginn des Angrifftages einsatzfähig zu sein.</li>
              <li>Neue Clanmitglieder werden erst nach ein bis zwei Wochen zum Clanwar mitgenommen. So vermeiden wir allzu häufige Ausfälle im CW. </li>
              <li>Nicht immer können alle die auf grün stehen, auch zum CW mitgenommen werden, da die Anzahl häufig nicht aufgeht. Daher werden einzelne auch mal einen CW aussetzen müssen. Dies ist nicht persönlich und hat nichts mit der Leistung im CW zu tun, sondern trifft jeden mal.</li>
            </ul>
            <h4>Vorbereitungstag</h4>
            <ul>
              <li>In die Clanburgen werden ausschließlich max. Truppen gespendet. Gespendet wird, was gefordert ist.<br>
              Insbesondere alle ab RH 9 aufwärts sind angehalten zu spenden, da sie die besten Truppen haben.</li>
              <li>Der Vorbereitungstag sollte genutzt werden, um sich seinen Gegner anzuschauen. Denkt aber daran, dass sich die Base bis Kriegsbeginn noch ändern kann.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Angriffe</h4>
            <ul>
              <li><strong>Jeder</strong> Teilnehmer macht seine <strong>zwei Angriffe!</strong> Unabhängig davon, ob der CW noch zu gewinnen ist oder nicht.</li>
              <li>Jeder greift mit seinem ersten Angriff sein Gegenüber an (gleiche Nummer). Falls von der Clanführung über Clanmail eine andere Strategie ausgegeben wird, gilt diese.</li>
              <li>Der ersten Angriff muss innerhalb der ersten 12 Stunden erfolgen. Gerade die unteren Teilnehmer sollten möglichst schnell nach Beginn ihre ersten Angriffe durchführen.</li>
              <li>Mit dem zweiten Angriff werden offene Sterne abgeräumt, möglichst bei gleichstarken Gegnern. Hier sollte jeder ein Ziel auswählen, bei dem er gute Chance sieht noch offene Sterne zu holen. Bei Zweifeln ist der Zweitangriff über Clanchat oder Whatsapp mit der Clan(war)führung abzustimmen.<br>
              Wird eine Strategie für die Zweitangriffe herausgegeben, ist diese bindend.</li>
              <li>CW Angriffe werden <strong>immer</strong> mit den besten verfügbaren Truppen und voller Clanburg gemacht. Angriffe mit Farmtruppen werden nicht toleriert.</li>
              <li>Bei jedem Angriff zählen die Sterne für den Clan, nicht das Loot! Wenn zuviele nur auf den Bonus schauen, verlieren am Ende alle!</li>
            </ul>

        </div>

      </div>
    </div>
  </div> <!-- row -->
</div>


{% endblock %}
