<footer>
  <div class="container">
  <hr>
        <div class="row">
          <div class="col-lg-12">



            <p>
            &copy; 2016 {{ app.clandetails.name }}.
            &nbsp;&nbsp;&middot;&nbsp;&nbsp;
            <a href="/datenschutz">Datenschutz</a>
            &nbsp;&nbsp;&middot;&nbsp;&nbsp;
            <a href="/impressum">Impressum</a>
            </p>

            <p class="text-right"><i class="fa fa-code"></i> with <i class="fa fa-heart-o"></i> in hamburg by <a href="https://rasm.io" target="_blank">rasm.io</a>.
            </p>
            <p><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p>
            <p class="text-center">
              This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it. For more information see Supercell’s Fan Content Policy: <a href="//www.supercell.com/fan-content-policy" target="_blank">www.supercell.com/fan-content-policy</a>.
            </p>

          </div>
        </div>
</div>
      </footer>
