<footer>
  <div class="container">
  <hr>
        <div class="row">
          <div class="col-lg-12">

            <p>
            &copy; 2016 theblackwar.
            &nbsp;&nbsp;&middot;&nbsp;&nbsp;
            <a href="/datenschutz">Datenschutz</a>
            &nbsp;&nbsp;&middot;&nbsp;&nbsp;
            <a href="/impressum">Impressum</a>

            <span class="pull-right"><i class="fa fa-code"></i> with <i class="fa fa-heart-o"></i> in hamburg by <a href="https://rasm.io" target="_blank">rasm.io</a>.</span>
            </p>

          </div>
        </div>
</div>
      </footer>
