<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" src="{{ app.clandetails.badgesm }}" />
      <a class="navbar-brand" href="/"> The Black War</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/mitglieder">Mitglieder</a></li>
        <li><a href="/warlog">War Log</a></li>
        <li><a href="/clanregeln">Clanregeln</a></li>
        <li><a href="/clanwar">Clan War</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
