RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]


## COMPRESSION ##
<IfModule mod_deflate.c>
     <FilesMatch ".*\.(html|php|css|js|xml)$">
       SetOutputFilter DEFLATE
     </FilesMatch>
     AddOutputFilterByType DEFLATE application/rss+xml
     AddOutputFilterByType DEFLATE application/xml application/xhtml+xml
     AddOutputFilterByType DEFLATE application/javascript application/x-javascript
</IfModule>
## COMPRESSION ##
